[package]
name = "noodles-csi"
version = "0.11.0"
authors = ["Michael Macias <zaeleus@gmail.com>"]
license = "MIT"
edition = "2021"
rust-version = "1.57.0"
description = "Coordinate-sorted index (CSI) format reader and writer"
homepage = "https://github.com/zaeleus/noodles"
repository = "https://github.com/zaeleus/noodles"
documentation = "https://docs.rs/noodles-csi"

[features]
async = ["noodles-bgzf/async", "tokio"]

[dependencies]
bit-vec = "0.6.1"
byteorder = "1.2.3"
noodles-bgzf = { path = "../noodles-bgzf", version = "0.17.0" }
noodles-core = { path = "../noodles-core", version = "0.9.0" }

tokio = { version = "1.10.0", optional = true, features = ["fs", "io-util"] }

[dev-dependencies]
tokio = { version = "1.10.0", features = ["macros", "rt-multi-thread"] }

[package.metadata.docs.rs]
features = ["async"]

[[example]]
name = "csi_count_async"
required-features = ["async"]
