[package]
name = "noodles-sam"
version = "0.16.0"
authors = ["Michael Macias <zaeleus@gmail.com>"]
license = "MIT"
edition = "2021"
rust-version = "1.56.0"
description = "Sequence Alignment/Map (SAM) format reader and writer"
homepage = "https://github.com/zaeleus/noodles"
repository = "https://github.com/zaeleus/noodles"
documentation = "https://docs.rs/noodles-sam"

[features]
async = ["futures", "noodles-bgzf/async", "tokio"]

[dependencies]
bitflags = "1.2.1"
indexmap = "1.4.0"
lexical-core = { version = "0.8.5", default-features = false, features = ["parse-floats", "parse-integers", "write-integers"] }
lexical-parse-float = "0.8.5"
lexical-parse-integer = { version = "0.8.6" }
lexical-write-integer = "0.8.5"
noodles-bgzf = { path = "../noodles-bgzf", version = "0.12.0" }
noodles-csi = { path = "../noodles-csi", version = "0.7.0" }
noodles-core = { path = "../noodles-core", version = "0.7.0" }
noodles-fasta = { path = "../noodles-fasta", version = "0.11.0" }
memchr = "2.3.3"
rustc-hash = "1.1.0"

futures = { version = "0.3.15", optional = true, default-features = false, features = ["std"] }
tokio = { version = "1.10.0", optional = true, features = ["io-util"] }

[dev-dependencies]
tokio = { version = "1.10.0", features = ["fs", "io-std", "macros", "rt-multi-thread"] }

[package.metadata.docs.rs]
features = ["async"]
